.container{
  height: 100vh;
  width:100%;
  background: radial-gradient(#eee 40%, #fff 60%);
}
#app{
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:100%;
  width:100%;
}